<div mat-dialog-title class="modal-header"> 
  <div class="modal-title">
    {{"tour.upsert"|translate}}
  </div>
</div>
<div class="right modal-body" dir="rtl" [style.width.px]="1000" [style.height.px]="300" autoTranslate>
  <!--width set for IE-->
  <form >
    <div>
      <mat-card [stretch]="true">
        <ag-grid-angular #agGrid [style.height.px]="300" class="ag-theme-material" [columnDefs]="passengerGridService.columnDefs"
         [gridOptions]="passengerGridService.gridOptions" [frameworkComponents]="passengerGridService.frameworkComponents" 
         (gridReady)="passengerGridService.onGridReady($event)" [enableRtl]="true">
        </ag-grid-angular>
      </mat-card>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="primary" fxFlex (click)="save()">{{"save"|translate}}</button>
</mat-dialog-actions>