<div mat-dialog-title class="modal-header">
  <div class="modal-title">
    {{"tour.reserve"|translate}}
  </div>
</div>
<div class="modal-body" dir="rtl" [style.width.px]="500" [style.height.px]="300" autoTranslate>
  <!--width set for IE-->
  <mat-horizontal-stepper #stepper [linear]="true">
    <mat-step [stepControl]="agencyListForm.form" label="{{'steps'|translate:({value:'first'|translate})}}">
      <form [formGroup]="agencyListForm.form">
        <div fxLayout="row">
          <br> {{"addAgencyMessage"|translate}}
          <br>
          <br>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select placeholder="agency.name" formControlName="id" (selectionChange)="selectedItem($event,stepper)">
              <mat-option *ngFor="let item of agencies | async" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-mini-fab color="accent" (click)="agencyUpsert()">
            <mat-icon class="icon-text-color">add</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="data.form" label="{{'steps'|translate:({value:'second'|translate})}}">
      <form [formGroup]="data.form">

        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="40">
            <input matInput mask="number" #adultCount placeholder="adultCount" formControlName="capacity">
            <mat-hint align="end" >{{"emptyCount"|translate:({value:freeSpace-adultCount.value}) }}</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput mask="number" placeholder="busPrice" formControlName="busPrice">
            <mat-icon matSuffix>airport_shuttle</mat-icon>
            <mat-hint align="end" translate>rialFormat</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex>
            <input matInput mask="number" placeholder="tourPrice" formControlName="basePrice">
            <mat-icon matSuffix> landscape</mat-icon>
            <mat-hint align="end" translate>rialFormat</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput mask="number" placeholder="roomPrice" formControlName="roomPrice">
            <mat-icon matSuffix> airline_seat_individual_suite</mat-icon>
            <mat-hint align="end" translate>rialFormat</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">

          <mat-form-field fxFlex>
            <input matInput mask="number" placeholder="infantPrice" formControlName="infantPrice">
            <mat-icon matSuffix>child_care</mat-icon>
            <mat-hint align="end" translate>rialFormat</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput mask="number" placeholder="foodPrice" formControlName="foodPrice">
            <mat-icon matSuffix>room_service</mat-icon>
            <mat-hint align="end" translate>rialFormat</mat-hint>
          </mat-form-field>

        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="person.form" label="{{'steps'|translate:({value:'third'|translate})}}">
      <form [formGroup]="person.form">
        <div fxLayout="row">
          <br> {{"msg.blockReservation"|translate:({capacity:newBlock.capacity})}}
          <br>
          <br> {{"addPassengerMessage"|translate}}
        </div>
        <mat-dialog-actions>
          <button mat-raised-button color="primary" fxFlex type="button">{{"add"|translate}}
            <mat-icon class="icon-text-color">add</mat-icon>
          </button>
        </mat-dialog-actions>
        <br>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div fxLayout="row" align="end">
  <button class="pull-left" mat-mini-fab color="primary" (click)="next(stepper)" [disabled]="stepper.selectedIndex==2">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button class="pull-right" mat-mini-fab color="primary" (click)="previous(stepper)" [disabled]='stepper.selectedIndex==0'>
    <mat-icon>navigate_next</mat-icon>
  </button>
  <label fxFlex [hidden]='stepper.selectedIndex!=1'>
    {{"allPriceIsPerOne"|translate}}
  </label>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="primary" fxFlex type="button" mat-dialog-close>{{"close"|translate}}</button>
</mat-dialog-actions>
