<div mat-dialog-title class="modal-header">
  <div class="modal-title">
    {{"tour.reserve"|translate}}
  </div>
</div>

<div class="modal-body" dir="rtl" [style.width.px]="600" autoTranslate>
  <!--width set for IE-->
  <mat-horizontal-stepper #stepper [linear]="false">
    <mat-step [stepControl]="agencyListForm.form" label="{{'steps'|translate:({value:'first'|translate})}}">
      <form [formGroup]="agencyListForm.form">
        <div fxLayout="row">
          <mat-form-field>
            <mat-select placeholder="agency.name" formControlName="id" >
              <mat-option *ngFor="let item of agencies | async" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-mini-fab color="accent" (click)="agencyUpsert()">
            <mat-icon class="icon-text-color">add</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="data.form" label="{{'steps'|translate:({value:'second'|translate})}}">
      <form [formGroup]="data.form">
        <div fxLayout="row">
          <mat-form-field fxFlex="40">
            <input matInput mask="number" #adultCount placeholder="adultCount" formControlName="adultCount">
            <mat-hint align="end" translate>{{"emptyCount"|translate:({outof:"100",value:adultCount.value})}}</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="20">
            <input matInput placeholder="offValue" formControlName="adultPrice">
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex="40">
            <input matInput #infantCount placeholder="infantCount" formControlName="infantCount">
            <mat-hint align="end" translate>{{"emptyCount"|translate:({outof:"100",value:infantCount.value})}} </mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="20">
            <input matInput placeholder="offValue" formControlName="infantPrice">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="33">
            <input matInput mask="number" placeholder="busPrice" formControlName="busPrice">
            <mat-icon matSuffix>airport_shuttle</mat-icon>
            <mat-hint align="end" translate>tomanFormat</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="33">
            <input matInput mask="number" placeholder="roomPrice" formControlName="roomPrice">
            <mat-icon matSuffix> airline_seat_individual_suite</mat-icon>
            <mat-hint align="end" translate>tomanFormat</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="33">
            <input matInput mask="number" placeholder="foodPrice" formControlName="foodPrice">
            <mat-icon matSuffix>room_service</mat-icon>
            <mat-hint align="end" translate>tomanFormat</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="person.form" label="{{'steps'|translate:({value:'third'|translate})}}">
      <form [formGroup]="person.form">
        <div fxLayout="row">
            {{"addPassengerMessage"|translate}}

        </div>
        <div fxLayout="row" align="end">
          <mat-dialog-actions>
            <button mat-raised-button color="primary" fxFlex type="button">{{"add"|translate}}
              <mat-icon class="icon-text-color">add</mat-icon>
            </button>
          </mat-dialog-actions>
        </div>
        <div fxLayout="row">
          <br>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<button class="pull-left" mat-mini-fab color="primary" (click)="stepper.next()" [disabled]="stepper.selectedIndex==2">
  <mat-icon>navigate_before</mat-icon>
</button>
<button class="pull-right" mat-mini-fab color="primary"  (click)="stepper.previous()" [disabled]='stepper.selectedIndex==0'>
  <mat-icon>navigate_next</mat-icon>
</button>

<mat-dialog-actions>
    <button mat-raised-button color="primary" fxFlex type="button" mat-dialog-close >{{"close"|translate}}</button>
</mat-dialog-actions>
