<div mat-dialog-title class="modal-header">
  <div class="modal-title">
    {{"user_.upsert"|translate}}
  </div>
</div>
<div class="modal-body" dir="rtl" [style.width.px]="300" autoTranslate><!--width set for IE-->
  <form [formGroup]="data.form" fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput placeholder="oldPassword" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="password" formControlName="password">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="rePassword" formControlName="rePassword">
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button fxFlex mat-raised-button color="primary" (click)="save()">{{"save"|translate}}</button>
</mat-dialog-actions>
