<div class="modal-header">
  <div class="modal-title">
    {{"user_.upsert"|translate}}
  </div>
</div>
<div class="modal-body" dir="rtl">
  <form [formGroup]="data.form" fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput placeholder="oldPassword" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="password" formControlName="password">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="rePassword" formControlName="rePassword">
    </mat-form-field>
  </form>
</div>
<div class="modal-footer">
  <button fxFlex mat-button (click)="save()">{{"save"|translate}}</button>
</div>
