<div mat-dialog-title class="modal-header">
  <div class="modal-title">
    {{"reagent.upsert"|translate}}
  </div>
</div>
<div class="modal-body" dir="rtl" [style.width.px]="350" autoTranslate><!--width set for IE-->
  <form [formGroup]="data.form">
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="family" formControlName="family">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="agencyName" formControlName="agencyName">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="mobileNumber" formControlName="mobileNumber">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="phone" formControlName="phone">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button fxFlex mat-raised-button color="primary" (click)="save()">{{"save"|translate}}</button>
</mat-dialog-actions>

