<div class="modal-header">
  <div class="modal-title">
    {{"reagent_.upsert"|translate}}
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <form-field label="managerName">
        <input trhInput placeholder="managerName" formControlName="managerName">
      </form-field>
      <form-field label="agencyName">
        <input trhInput placeholder="agencyName" formControlName="agencyName">
      </form-field>
    </div>
    <div class="row">
      <form-field label="cellPhone">
        <input trhInput placeholder="cellPhone" formControlName="cellPhone">
      </form-field>
      <form-field label="phone">
        <input trhInput placeholder="phone" formControlName="phone">
      </form-field>
    </div>
    <div class="row">
      <form-field label="email">
        <input trhInput placeholder="email" formControlName="email">
      </form-field>
      <div class="col"></div>
    </div>
  </form>
</div>
<div class="modal-body">
  <div class="row">
    <button class="btn btn-primary col" (click)="save()">{{"save"|translate}}</button>
  </div>
</div>

