<div class="modal-header">
  <div class="modal-title">
    {{"tour_.upsert"|translate}}
  </div>
</div>
<div class="right modal-body" style="width: 510px">
  <form [formGroup]="form.form">
    <div class="row">
      <form-field>
        <trh-slider falseText="rial" trueText="dollar"></trh-slider>
      </form-field>
      <form-field>
        <div style="float: left;">
          <i class="material-icons">flight</i>
          <trh-slider falseText="ground" trueText="flight" formControlName="isFlight"></trh-slider>
          <i class="material-icons">directions_bus</i>
        </div>
      </form-field>
    </div>
    <div class="row">
      <form-field label="destination">
        <trh-dropdown textField="name" valueField="id" [items]="destinations" formControlName="destinationId"></trh-dropdown>
      </form-field>
      <form-field label="adult_.count">
        <input trhInput formControlName="adultCount">
      </form-field>
    </div>
    <div class="row">
      <form-field label="duration">
        <input trhInput formControlName="duration">
      </form-field>
      <form-field label="adult_.minPrice">
        <input trhInput formControlName="adultMinPrice">
      </form-field>
    </div>
    <div class="row">
      <form-field label="tour_.date">
        <input trhInput formControlName="date">
      </form-field>
      <div class="col">
        <div class="row">
          <nb-checkbox #checkBusPrice>
            <i class="material-icons md-1">airport_shuttle</i>
          </nb-checkbox>
          <form-field>
            <input trhInput placeholder="toman" *ngIf="checkBusPrice.value" formControlName="busPrice">
          </form-field>
        </div>
        <div class="row">
          <nb-checkbox #checkRoomPrice>
            <i class="material-icons md-1">airline_seat_individual_suite</i>
          </nb-checkbox>
          <form-field>
            <input trhInput placeholder="toman" *ngIf="checkRoomPrice.value" formControlName="roomPrice">
          </form-field>
        </div>
        <div class="row">
          <nb-checkbox #checkFoodPrice>
            <i class="material-icons md-1">room_service</i>
          </nb-checkbox>
          <form-field>
            <input trhInput placeholder="toman" *ngIf="checkFoodPrice.value" formControlName="foodPrice">
          </form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <form-field label="hotel">
        <trh-dropdown textField="name" valueField="id" [items]="hotels" formControlName="placeId"></trh-dropdown>
      </form-field>
      <form-field label="infantPrice">
        <input trhInput formControlName="infantPrice">
      </form-field>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button trhButton (click)="save()">{{"save"|translate}}</button>
</div>
