<div class="modal-header">
  <div class="modal-title">
    {{"user_.upsert"|translate}}
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="data.form">
    <div fxLayout="row">
      <mat-form-field label="cellPhone">
        <input matInput placeholder="cellPhone" formControlName="cellphone">
      </mat-form-field>
      <mat-form-field label="name">
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field label="username">
        <input matInput placeholder="username" formControlName="username">
      </mat-form-field>
      <mat-form-field label="password">
        <input matInput placeholder="password" formControlName="password">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <div class="col"></div>
      <mat-form-field label="rePassword">
        <input matInput placeholder="rePassword" formControlName="rePassword">
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-body">
  <div fxLayout="row">
    <button class="btn btn-primary col" (click)="save()">{{"save"|translate}}</button>
  </div>
</div>
