<div class="modal-header">
  <div class="modal-title">
    {{"user_.upsert"|translate}}
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="data.form">
    <div class="row">
      <form-field label="cellPhone">
        <input trhInput placeholder="cellPhone" formControlName="cellphone">
      </form-field>
      <form-field label="name">
        <input trhInput placeholder="name" formControlName="name">
      </form-field>
    </div>
    <div class="row">
      <form-field label="username">
        <input trhInput placeholder="username" formControlName="username">
      </form-field>
      <form-field label="password">
        <input trhInput placeholder="password" formControlName="password">
      </form-field>
    </div>
    <div class="row">
      <div class="col"></div>
      <form-field label="rePassword">
        <input trhInput placeholder="rePassword" formControlName="rePassword">
      </form-field>
    </div>
  </form>
</div>
<div class="modal-body">
  <div class="row">
    <button class="btn btn-primary col" (click)="save()">{{"save"|translate}}</button>
  </div>
</div>
