include ../../../mixin
// don't edit this html file
.modal-header(mat-dialog-title)
  .modal-title
    | {{ "tour.upsert"|translate }}
.right.modal-body(dir='rtl', style='min-width: 700px', autoTranslate)
  // width set for IE
  form([formGroup]='vModel.form')
    ng-container(formGroupName='tourDetail')
      div(fxLayout='row')
        trn-slider(fxFlex, trueText='dollar', falseText='price.ir')
        div(fxFlex='80', fxLayoutAlign='end center')
          i.material-icons flight
          trn-slider(formControlName='isFlight', falseText='ground', trueText='flight')
          i.material-icons directions_bus
      div(fxLayout='row', fxLayoutAlign='start')
        mat-form-field
          mat-select(placeholder='destination', formControlName='destinationId')
            mat-option {{ "none"|translate }}
            mat-option(*ngFor='let item of destinations | async', [value]='item.id')
              | {{ item.name }}
          mat-error(translate) {{vModel.form.get('tourDetail').get('destinationId')['errorMessage']}}
        mat-form-field
          mat-select(placeholder='leader.*', formControlName='leaderId', fxLayoutGap='100px')
            mat-option {{ "none"|translate }}
            mat-option(*ngFor='let leader of leaders | async', [value]='leader.id')
              | {{ leader.name + ' ' + leader.family }}
    div(fxLayout='row', fxLayoutAlign='space-between')
      mat-card(fxLayout='column', fxFlex)
        div(fxLayout='row', fxLayoutAlign='space-between', formGroupName='tourDetail')
          mat-form-field(fxFlex)
            input(matInput , (click)='tourDateToggle._open($event)', [matDatepicker]='tourDate', placeholder='tour.date', formControlName='startDate')
            mat-datepicker-toggle(utc='true', #tourDateToggle, matSuffix, [for]='tourDate')
            mat-datepicker(#tourDate, disabled='false')
            mat-error(translate) {{vModel.form.get('tourDetail').get('startDate')['errorMessage']}}
          +matField('duration','duration',"vModel.form.get('tourDetail')",'nightFormat')(maxLength ='3',mask='number')
        div(fxLayout='row', fxLayoutAlign='space-between')
          +matField('capacity','capacity.*','vModel.form')(mask='number')
          +matField('basePrice','tour.price','vModel.form','price.irFormated')(mask='number')
        div(fxLayout='row', fxLayoutAlign='space-between')
          +matField('infantPrice','infantPrice','vModel.form','price.irFormated')(mask='number')
          mat-form-field(fxFlex, formGroupName='tourDetail')
            mat-select(placeholder='hotel', formControlName='placeId')
              mat-option(*ngFor='let item of places|async', [value]='item.id') {{ item.name }}
            mat-error(translate) {{vModel.form.get('tourDetail').get('placeId')['errorMessage']}}
      mat-card(fxLayout='column', fxFlex='40', formArrayName='options')
        +matField(
        'price',
        "{{optionType[formGroup.value.optionType].toLowerCase()+'Price'|translate}}",
        'vModel.form.get(\'options\').get(i.toString())',
        'price.irFormated',
        '{{ utils.mapOptionTypeToIcon(formGroup.value.optionType) }}',
        {'*ngFor':"let formGroup of vModel.form.get('options')['controls'];let i=index", '[formGroupName]':'i'}
        )(mask='number')
mat-dialog-actions
  button(mat-raised-button, color='primary', fxFlex, (click)='save()') {{ "save"|translate }}
