<trn-layout dir="rtl" [ngSwitch]="layoutType">
  <div class="main-content" *ngSwitchCase="'layout1'">
    <trn-sidebar class="menu-sidebar">
      <div class="sidebar-main-header">
        <trn-header position="inverse"></trn-header>
      </div>
      <div class="sidebar-header">
        <mat-toolbar color="primary" role="header">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </div>
        </mat-toolbar>
      </div>
      <div class="sidebar-article" fxLayout="row" fxLayoutAlign="center center">

        <div id="article" >
          <ng-content select="router-outlet"></ng-content>
        </div>
      </div>
      <ng-content select="trn-menu"></ng-content>
    </trn-sidebar>
  </div>
  <div *ngSwitchCase="'layout2'" [style.height.px]="600" fxLayout="row" fxLayoutAlign="center center">
    <ng-content selected="layout2-content"></ng-content>
  </div>
</trn-layout>
