@import '../styles/install';
@import "../styles/core/variables";

$article-margin: 20px;
@include trn-install-component() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  #article {
    margin: $article-margin;
    height: calc(100vh - #{$toolbar-height} - (#{$article-margin} * 2));
    width: calc(100vw - (#{$article-margin} * 2));
  }
}


