<trh-layout dir="rtl">
  <div class="layout-content main-content">
    <trh-sidebar class="menu-sidebar">
      <div class="sidebar-main-header">
        <trh-header position="inverse"></trh-header>
      </div>
      <div class="sidebar-header">
        <mat-toolbar color="primary">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <button mat-icon-button >
              <mat-icon>settings</mat-icon>
            </button>
          </div>
        </mat-toolbar>
      </div>
      <div class="sidebar-article">
        <ng-content select="router-outlet"></ng-content>
      </div>
      <ng-content select="trh-menu"></ng-content>
    </trh-sidebar>
  </div>
</trh-layout>
