@import '../../styles/install';

@include nb-install-component() {
  :host{
    margin-bottom: 10px;
  }
  .hint {
    color: nb-theme(color-primary);
    font-size: nb-theme(label-hint-size);
    margin:5px 0;
  }
}
