@import "colors";

$primary-palette: $mat-purple;
$accent-palette: $mat-orange;
$warning-palette: $mat-red;

$dark-primary-palette: $mat-blue-grey;
$dark-accent-palette: $mat-amber;
$dark-warning-palette: $mat-deep-orange;

$theme-default: (
  material:(),//@todo should be set from material.theme
  is-dark:false,
  font-main: one-iransans,
  font-secondary: font-main,
  base-font-size: 16px,
  shadow-color:map_get($mat-grey, 600),
  card-header-bg:#303f9f,
  input-height:35px,
  label-hint-size:.75rem,
  menu-icon-font-size: 2.5rem,
  btn-disabled-opacity: 0.3,
  padding: 1.25rem,
  radius: 0.375rem,
  margin: 1.5rem,
  line-height: 1.25,
  separator: #ebeef2,
  font-weight-thin: 200,
  font-weight-light: 300,
  font-weight-normal: 400,
  font-weight-bolder: 500,
  font-weight-bold: 600,
  font-weight-ultra-bold: 800,
  // TODO: use it as a default font-size
  font-size-xlg: 1.25rem,
  font-size-lg: 1.125rem,
  font-size: 1rem,
  font-size-sm: 0.875rem,
  font-size-xs: 0.75rem,
  color-accent-palette:$accent-palette,
  color-accent:map_get($accent-palette, 500),
  color-bg: #ffffff,
  color-bg-active: #e9edf2,
  color-disabled: rgba(255, 255, 255, 0.4),
  color-card-bg:map_get($mat-grey,A100),//@todo set from material
  color-fg: #a4abb3,
  color-fg-heading: #2a2a2a,
  color-fg-text: #4b4b4b,
  color-icon-text: map_get($mat-grey,200),
  color-fg-highlight: #40dc7e,
  color-gray: rgba(81, 113, 165, 0.15),
  color-info: #4ca6ff,
  color-neutral: transparent,
  color-primary-palette:$primary-palette,
  color-primary: map_get($primary-palette, 500),
  color-success: #40dc7e,
  color-warning-palette: $warning-palette,
  color-warning: map_get($warning-palette, 500),
  color-white: #ffffff,
  border-color: color-gray,
  shadow: 0 2px 12px 0 #dfe3eb,
  link-color: #3dcc6d,
  link-color-hover: #2ee56b,
  link-color-visited: link-color,
  radial-gradient: none,
  linear-gradient: none,
  card-header-fg: color-fg, // TODO: not used
  toaster-bg: color-primary,
  toaster-fg-default: color-inverse,
  toaster-btn-close-bg: transparent,
  toaster-btn-close-fg: toaster-fg-default,
  toaster-shadow: shadow,
  toaster-fg: color-white,
  toaster-success: color-success,
  toaster-info: color-info,
  toaster-warning: color-warning,
  toaster-wait: color-primary,
  toaster-error: color-danger,
);

$theme-dark: map_merge($theme-default, (
  is-dark:true,
  shadow-color:map_get($mat-grey, 900),
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  input-height:35px,
  radius: 0.5rem,
  color-accent-palette:$dark-accent-palette,
  color-accent: map_get($dark-accent-palette, 500),
  color-bg: #3d3780,
  color-bg-active: #494299,
  color-card-bg:map_get($mat-grey,800),
  color-disabled: rgba(255, 255, 255, 0.4),
  color-fg: #a1a1e5,
  color-fg-heading: #ffffff,
  color-fg-text: #d1d1ff,
  color-icon-text: map_get($mat-grey,800),
  color-fg-highlight: #00f9a6,
  color-gray: rgba(81, 113, 165, 0.15),
  color-info: #0088ff,
  color-neutral: transparent,
  color-primary-palette: $dark-primary-palette,
  color-primary: map_get($dark-primary-palette, 500),
  color-success: #00d977,
  color-warning-palette: $dark-warning-palette,
  color-warning: map_get($dark-warning-palette, 500),
  color-white: #ffffff,
  link-color: #00f9a6,
  link-color-hover: #14ffbe,
  separator: #342e73,
  shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6),
));
