<div mat-dialog-title class="modal-header">
  <div class="modal-title">
   {{ "leader.add"|translate }}
  </div>
</div>
<div class="modal-body" dir="rtl" [style.width.px]="500" [style.height.px]="300" autoTranslate>
  <form [formGroup]="vModel.form">
    <div fxLayout="row" layout-align="space-between center" >
      <mat-form-field fxFlex="50">
        <input matInput placeholder="person.nc" formControlName="nationalCode" #natCode (focusout)="onNationalCodeChanged(natCode)">
      </mat-form-field>
      <trn-slider fxFlex tabindex="-1" trueText="male" falseText="female" formControlName="gender" fxLayoutAlign="end center"></trn-slider>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="person.mobileNumber" #phoneNo formControlName="mobileNumber">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="person.socialNumber" formControlName="socialNumber">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="person.name" formControlName="name">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="person.family" formControlName="family">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="person.englishName" formControlName="englishName">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="person.englishFamily" formControlName="englishFamily">
      </mat-form-field>
    </div>
    <div fxLayout="row">

      <mat-form-field fxFlex>
        <input matInput (click)="bithDate._open($event)" [matDatepicker]="personBirthDate" placeholder="person.birthDate" formControlName="birthDate">
        <mat-datepicker-toggle utc="true" #bithDate matSuffix [for]="personBirthDate"></mat-datepicker-toggle>
        <mat-datepicker #personBirthDate disabled="false" (selectedChanged)="onBirthDateChanged($event)"></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="25">
        <input matInput placeholder="passportNumber" formControlName="passportNo">
      </mat-form-field>

      <mat-form-field fxFlex="25">
        <input matInput (click)="passExpDate._open($event)" [matDatepicker]="passportExpDate" placeholder="passportExpireDate"
          formControlName="passportExpireDate">
        <mat-datepicker-toggle utc="true" #passExpDate matSuffix [for]="passportExpDate"></mat-datepicker-toggle>
        <mat-datepicker #passportExpDate disabled="false"></mat-datepicker>
      </mat-form-field>

    </div>
  </form>
  <!--width set for IE-->
</div>

<mat-dialog-actions>
  <button fxFlex mat-raised-button color="primary" (click)="close()">{{ "save"|translate }}</button>
</mat-dialog-actions>
