@import '../../core/variables';

@mixin init_palette() {
  $primary: trn-theme(color-primary-palette);
  $accent: trn-theme(color-accent-palette);
  $warning: trn-theme(color-warning-palette);
  @if trn-theme(is-dark) {
    @include angular-material-theme(
        mat-dark-theme(
            mat-palette($primary),
            mat-palette($accent, A200, A100, A400),
            mat-palette($warning)
        ));
  } @else {
    @include angular-material-theme(
        mat-light-theme(
            mat-palette($primary),
            mat-palette($accent, A200, A100, A400),
            mat-palette($warning)
        ));
  }
}

@mixin init_font() {
  $custom-typography: mat-typography-config(
    $font-family: trn-theme(font-main),
    $headline: mat-typography-level(30px, 46px, 700),
    $body-1: mat-typography-level(14px, 22px, 500)
  );
  @include mat-base-typography($custom-typography);
  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);
}

@mixin material_initialization() {
  @include mat-core();
  @include init_palette();
  @include init_font();
}

@mixin override_defaults() {
  input {
    &[matInput][mask="number"] {
      direction: ltr;
    }
  }

  span {
    &[matSuffix] {
      padding-right: 5px;
    }
  }

  mat-card {
    margin: 20px;
  }

  .mat-form-field{
    font-size:14px;
    margin:0 5px;
  }

  .mat-mini-fab {
    width: 30px;
    height: 30px;
    .mat-icon {
      font-size: 22px;
      margin: 4px 0 0 3px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  mat-toolbar[data-visibility='autoHide'] {
    visibility: collapse;
  }

  .ag-row-hover .mat-toolbar[data-visibility='autoHide'] {
    visibility: visible !important;
  }

  .fab-grid {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: -70px;
    position: absolute;
    left: 0;
  }
//disable wizard header selection
  .mat-horizontal-stepper-header{
    pointer-events: none !important;
  }

}

@mixin trn-material-theme() {
  @include material_initialization();
  @include override_defaults();
}
