@import '~@angular/material/theming';

@mixin init_palette() {
  $trn-primary-palette: mat-palette($mat-deep-purple);
  $trn-accent-palette: mat-palette($mat-pink, A200, A100, A400);
  $trn-warn-palette: mat-palette($mat-red);
  $trn-material-theme: mat-light-theme($trn-primary-palette, $trn-accent-palette, $trn-warn-palette);
  @include angular-material-theme($trn-material-theme);

  //dark theme definition
  $trn-dark-primary: mat-palette($mat-blue-grey);
  $trn-dark-accent: mat-palette($mat-amber, A200, A100, A400);
  $trn-dark-warn: mat-palette($mat-deep-orange);
  $trn-dark-theme: mat-dark-theme($trn-dark-primary, $trn-dark-accent, $trn-dark-warn);
  &.trn-theme-dark {
    @include angular-material-theme($trn-dark-theme);
  }
}

@mixin init_font() {
  $custom-typography: mat-typography-config(
    $font-family: nb-theme(font-main),
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
  );
  @include mat-base-typography($custom-typography);
  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);
}

@mixin material_initialization() {
  @include mat-core();
  @include init_palette();
  @include init_font();
}

@mixin override_defaults() {
  input {
    &[matInput][mask="number"] {
      direction: ltr;
    }
  }
  span {
    &[matSuffix] {
      padding-right: 5px;
    }
  }
}

@mixin trn-material-theme() {
  @include material_initialization();
  @include override_defaults();
}
