@import '../../@theme/styles/themes';
@import "~@nebular/theme/styles/global/bootstrap/default-buttons";

@mixin set_defaults {
  html,body{
    font-size: nb-theme(base-font-size);
  }

  input, select, textarea {
    height: nb-theme(input-height);
  }

  .btn-micro{
    transform: scale(.7);
    line-height:0;
    padding: 3px;
    border-radius: 100%;
  }
}
