// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);
$nebular-icons-font-family:'fontawsome';

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  shadow-color:#747474,
  card-header-bg:#303f9f,

  font-main: Tahoma,
  font-secondary: one-iransans,
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  shadow-color:#212121,
  card-header-bg:#1a237e,

  font-main: Tahoma,
  font-secondary: one-iransans,
), cosmic, cosmic);
