<div autoTranslate>
  <form [formGroup]="formService.form">
    <trn-card>
      <mat-form-field fxFlex>
        <input matInput placeholder="username" formControlName="username" autofocus>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="password" formControlName="password">
      </mat-form-field>
      <!--@Todo impl. validation error message style-->
      <label [style.color]="'red'" [style.font-size]="'x-small'">{{errorMessage|translate}}</label>
      <button class="card-footer" mat-raised-button color="primary" fxFlex (click)="login()">{{"save"|translate}}</button>
    </trn-card>
  </form>
</div>
