<div mat-dialog-title class="modal-header">
  <div class="modal-title">
    {{"team.list"|translate}}
  </div>
</div>

<form [formGroup]="data.form">
  <div>
    <mat-card [stretch]="true">
      <ag-grid-angular #agGrid style="height:330px;width:500px" class="ag-theme-material" [columnDefs]="blocksGridService.columnDefs" 
      [gridOptions]="blocksGridService.gridOptions"
        [frameworkComponents]="blocksGridService.frameworkComponents" (gridReady)="blocksGridService.onGridReady($event)"
        [enableRtl]="true" rowHeight="35" headerHeight="35">
      </ag-grid-angular>
    </mat-card>
  </div>
</form>

<mat-dialog-actions>
  <button mat-raised-button color="primary" fxFlex type="button" mat-dialog-close>{{"close"|translate}}</button>
</mat-dialog-actions>