<div mat-dialog-title class="modal-header">
  <div class="modal-title">
    {{"person.replacement"|translate}}- {{"destinationTour"|translate}}
  </div>
</div>
<div class="modal-body" dir="rtl" [style.width.px]="700" [style.height.px]="450">
  <form>
    <mat-horizontal-stepper #stepper [linear]="false">
      <mat-step label="{{'steps'|translate:({value:'first'|translate})}}" [style.height.px]="450">
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-chip-list>
              <mat-chip *ngFor="let passenger of selectedPassengers">
                {{passenger.person.name}} {{passenger.person.family}}
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="example-full-width" fxFlex>
            <input matInput="search-local" placeholder="{{'destinationTourFilter'|translate}}" #searchContent (keyup)="onFilterTextBoxChanged(searchContent)">
          </mat-form-field>
        </div>
        <div fxLayout="row" [style.height.px]="200">
          <ag-grid-angular style="width:100%;height:100%;" class="ag-theme-material" [columnDefs]="tourGridService.columnDefs" [enableSorting]="true"
            [rowHeight]="35" [headerHeight]="35" [icons]="tourGridService.icons" [gridOptions]="tourGridService.gridOptions"
            (selectionChanged)="onSelectionChanged()" [frameworkComponents]="tourGridService.frameworkComponents" rowSelection="single"
            (gridReady)="onGridReady($event)" [enableRtl]="true">ّ
          </ag-grid-angular>
        </div>
      </mat-step>
      <mat-step label="{{'steps'|translate:({value:'second'|translate})}}">
        <form [formGroup]="replacementTourResultForm.form" *ngIf="showTour" autoTranslate>
          <mat-card>
            <div fxLayout="row">
              <mat-form-field fxFlex="30">
                <input matInput placeholder="{{'agency.name'|translate}}" formControlName="agency">
              </mat-form-field>
              <mat-form-field fxFlex="30">
                <input matInput placeholder="{{'tour.price'|translate}}" formControlName="basePrice">
                <mat-icon matSuffix> landscape</mat-icon>
                <mat-hint align="end" translate>price.irFormated</mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex="30">
                <input matInput placeholder="{{'infantPrice'|translate}}" formControlName="infantPrice">
                <mat-icon matSuffix>child_care</mat-icon>
                <mat-hint align="end" translate>price.irFormated</mat-hint>
              </mat-form-field>
            </div>
            <br>
            <div fxLayout="row">
              <mat-form-field fxFlex="30">
                <input matInput placeholder="{{'foodPrice'|translate}}" formControlName="foodPrice">
                <mat-icon matSuffix>{{ utils.mapOptionTypeToIcon(optionType.Food) }}</mat-icon>
                <mat-hint align="end" translate>price.irFormated</mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex="30">
                <input matInput placeholder="{{'busPrice'|translate}}" formControlName="busPrice">
                <mat-icon matSuffix>{{ utils.mapOptionTypeToIcon(optionType.Bus) }}</mat-icon>
                <mat-hint align="end" translate>price.irFormated</mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex="30">
                <input matInput placeholder="{{'roomPrice'|translate}}" formControlName="roomPrice">
                <mat-icon matSuffix>{{ utils.mapOptionTypeToIcon(optionType.Room) }}</mat-icon>
                <mat-hint align="end" translate>price.irFormated</mat-hint>
              </mat-form-field>
            </div>
          </mat-card>
        </form>
        <form [formGroup]="replacementTeamResultForm.form" *ngIf="!showTour">
          <div formArrayName="teams" class="teamCard">
            <mat-card *ngFor="let team of replacementTeamResultForm.form.get('teams')['controls'];let i=index">
              <div fxLayout="row" [formGroupName]="i">
                <mat-form-field fxFlex="30">
                  <input matInput placeholder="{{'buyer.name'|translate}}" formControlName="buyer">
                </mat-form-field>
                <mat-form-field fxFlex="30">
                  <input matInput placeholder="{{'tour.price'|translate}}" formControlName="basePrice">
                  <mat-icon matSuffix> landscape</mat-icon>
                  <mat-hint align="end" translate>price.irFormated</mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="30">
                  <input matInput placeholder="{{'infantPrice'|translate}}" formControlName="infantPrice">
                  <mat-icon matSuffix>child_care</mat-icon>
                  <mat-hint align="end" translate>price.irFormated</mat-hint>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </form>
        <br>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <!--width set for IE-->
</div>
<div fxLayout="row" align="end">
  <button class="pull-left" mat-mini-fab color="primary" #nextButton (click)="nextStep(stepper)" [disabled]="true">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button class="pull-right" mat-mini-fab color="primary" (click)="previousStep(stepper)" [disabled]='stepper.selectedIndex==0'>
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
<mat-dialog-actions>
  <button fxFlex mat-raised-button color="primary" (click)="updateReplacement()">{{"save"|translate}}</button>
</mat-dialog-actions>