<mat-card [stretch]="true" style="height: 100%">
    <!--@TODO globalize height-->
    <ag-grid-angular (gridSizeChanged)="refresh()" #tourGrid style="width:100%;height:100%;" class="ag-theme-material"
                     [columnDefs]="tourGridService.columnDefs"
                     [rowDragManaged]="true"
                     [enableSorting]="true"
                     [detailRowHeight]="250"
                     [rowHeight]="35"
                     [headerHeight]="35"
                     [icons]="tourGridService.icons"
                     [masterDetail]="true"
                     [gridOptions]="tourGridService.gridOptions"
                     [detailCellRenderer]="tourGridService.detailCellRenderer"
                     [frameworkComponents]="tourGridService.frameworkComponents"
                     [detailCellRendererParams]="tourGridService.detailCellRendererParams"
                     (gridReady)="tourGridService.onGridReady($event)"
                     [enableRtl]="true">

    </ag-grid-angular>
  <button mat-fab class="pull-right fab-grid" (click)="tourUpsert()">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>
<input >

