<button (click)="upsert()" >{{"tour.upsert"|translate}}</button>
<button (click)="couponUpsert()" >{{"coupon.upsert"|translate}}</button>
<button (click)="reagentUpsert()" >{{"reagent.upsert"|translate}}</button>
<button (click)="userUpsert()" >{{"user.upsert"|translate}}</button>
<trn-card>
  <div class="card-body">
    <ag-grid-angular #agGrid style="height: 400px;" class="ag-theme-material"
                     [columnDefs]="tourGridService.columnDefs"
                     [masterDetail]="true"
                     [gridOptions]="tourGridService.gridOptions"
                     [detailCellRendererParams]="tourGridService.detailCellRendererParams"
                     (gridReady)="tourGridService.onGridReady($event)"
                     [enableRtl]="true">
    </ag-grid-angular>
  </div>
</trn-card>
