mat-card([stretch]="true", style="height: 100%")
  // @TODO globalize height
  ag-grid-angular.ag-theme-material((gridSizeChanged)="refresh()", #tourGrid, style="width:100%;height:100%;", [columnDefs]="tourGridService.columnDefs", [rowDragManaged]="true", [enableSorting]="true", [detailRowHeight]="250", [rowHeight]="35", [headerHeight]="35", [icons]="tourGridService.icons", [masterDetail]="true", [gridOptions]="tourGridService.gridOptions", [detailCellRenderer]="tourGridService.detailCellRenderer", [frameworkComponents]="tourGridService.frameworkComponents", [detailCellRendererParams]="tourGridService.detailCellRendererParams", (gridReady)="tourGridService.onGridReady($event)", [enableRtl]="true")
  button.pull-right.fab-grid(mat-fab, (click)="tourUpsert()")
    mat-icon add
